<div class="flex-container">
    <h1>Add/Modify Presets</h1>

    <section>
        <span>Preset:</span>
        <select ng-model="preset">
            <option ng-Value="null" disabled>Choose your preset</option>
            <option>NAME OF PRESET</option>
        </select>
        <button ng-click="addNewPreset()" type="button">Modify</button>
    </section>

    <section>
        <button ng-click="addNewPreset()" type="button">Add New</button>
        <button ng-click="goBack()" class="inner" type="button">Go Back</button>
    </section>

</div>