<div class="flex-container">
    <section>
        <span>Search Term:</span>
        <input ng-model="preset.searchTerm" type="text">
    </section>

    <section>
        <span>Preset Name:</span>
        <input ng-model="preset.presetName" type="text">
    </section>

    <section>
        <span>Add Keyword:</span>
        <input ng-keydown="enter($event)" ng-model="keyword" type="text">
        <button ng-click="addKeyword()" type="button">Add Keyword</button>
    </section>

    <section>
        <h1>Current Keywords for {{preset.presetName}}:</h1>
        <h2 ng-repeat="keyword in preset.keywords">
            {{keyword}}
            <button class="x" ng-click="delete($index)">
                X
            </button>
        </h2>
    </section>

    <section>
        <button ng-click="save()" type="button">Save</button>
        <button ng-click="goBack()" type="button">Go Back</button>
    </section>
</div>
